$white: rgb(255, 255, 255);
$transparent-white: rgba(255, 255, 255, 0.4);
$transparent-gray: rgba(60, 60, 60, 0.4);
$black: rgb(0, 0, 0);
$transparent-black: rgba(0, 0, 0, .8);
$dark-gray: rgb(52, 52, 52);
$darker-gray: rgb(100, 100, 100);
$gray: rgb(170, 170, 170);
$lighter-gray: rgb(245, 245, 245);
$light-gray: rgb(230, 230, 230);
$border-gray: rgb(213, 214, 214);

$light-blue: rgb(162, 202, 232);
$pale-blue: rgb(75, 150, 179);
$blue: rgb(19, 118, 169);
$resume-blue: rgb(0, 92, 133);
$midnight-blue: rgb(10, 79, 110);
$dark-blue: rgb(61, 61, 76);

$dark-teal: rgb(29, 91, 119);

$green: rgb(130, 150, 87);
$dark-green: rgb(49, 67, 55);

$pale-yellow: rgb(255, 199, 102);

$clay-red: rgb(156, 67, 39);

// Gradients
$green-grad: linear-gradient(to bottom, #8BC0B8, #829657 50%);
